
.table{
    display: grid;
    margin: 1em auto;
    border: none;
    width: 60vw;
}
tbody{
    height: 60vh;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

tr{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1.7fr 0.3fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #da5f0d;
    padding: 0;
}
td{
    display: grid;
    align-items: center;
    padding:1em 0;
    margin: 0;
}

th{
    padding: 1em 0;
}
.action{
    border-radius: 0;
    width: 4em;
    color: white;
    font-family: fontBold;

}
.refuse{
    background-color: #cd3c14;
    border: 2px solid #cd3c14;
}
.btn-export{
    display: grid;
    margin: 1em auto;
    background-color: #ff7900;
    color: #000;
    height: 3.5em;
    border: 2px solid #ff7900;
    width: 10vw;
}