<table class="table" data-aos="fade-up">

    <tbody *ngIf="allInscriptions$ | async as devs">
      <!-- <app-spinner *ngIf="spinner"></app-spinner> -->
      <tr
        *ngFor="let dev of devs"
        class="example-button"
      >
        <td style="margin-left: 0.5em;">{{ dev.nom }}</td>
        <td>{{ dev.prenom }}</td>
        <td>{{ dev.numero }}</td>
        <td>{{ dev.email }} </td>
      </tr>
    </tbody>
  </table>
<button  mat-button class="btn-export" (click)="exportAsCSV()">Exporter</button>
