.inputs {
    border: 2px solid #000;
}

.body {
    padding: 1em 2em;
}

.table {
    border: none;
}

tr {
    border: none;
    margin: 3em 0;
}

td {
    margin: 0;
    padding: 0;
}

.tbody {
    height: 100vh;
}

.form-select {
    display: block;
    padding: 0.5em;
    height: 3em;
    width: 100%;
    border: 2px solid #000;
}

.textarea {
    resize: none;
    height: 30vh;
    width: 30vw;
}

input-group-text,
span {
    font-weight: bolder;
    padding: 0;
    margin: 1em 0;
}

.add-btn {
    display: grid;
    margin: 1em auto;
    height: 3.5em;
    border: none; /* Remove the border */
    border-radius: 10px;
    width: 15vw;
    background-color: rgb(230, 78, 22);
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.add-btn:hover {
    background-color: #ff6a00; /* Change the hover background color */
}

.inputs {
    margin: 1em 0;
}

button:disabled,
button[disabled] {
    background-color: #000;
    color: #666666;
}

.orange {
    color: #ff6a00; /* Change to the requested orange color */
}

.yellow {
    color: rgb(201, 174, 0);
}

.green {
    color: rgb(88, 195, 0);
}

.is-invalid {
    border: solid 2px #cd3c14;
}

.is-valid {
    border: 2px solid #32c832;
}

h5, h3 {
    font-size: 2.1em;
    margin: 0em;
    height: 1em;
    text-decoration: solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ff6a00;
}
