.line{
    display: flex;
    justify-content: space-between;
    padding: 1em ;
    margin: 1em 2em;
    width: 40vw;
    align-items: center;
    background-color: #f66f4d00;
    border: 2px solid #ed441ab5;
    border-radius: 4px;
    
}


.data{
    display:grid;
    align-items: center;
    width: 70%;
}

p{
    margin: 0;
}
.action{
    border: 2px solid #ee5930;
    border-radius: 4px;
    color: #000;
}
.accept{
    background-color: #ed441ab5;
    border: 2px solid #ed441ab5;
}
.actions{
    display: flex;
    justify-content: space-around;
    width: 30%;

}
.refuse{
    background-color: #ed441ab5;
    border: 2px solid #ed441ab5;
    
}
.refuse:hover{
    background-color: rgb(255, 81, 0);
    border: 2px solid rgb(255, 81, 0);
    color: white;
}

.accept:hover{
    background-color: rgb(0, 255, 26);
    border: 2px solid rgb(0, 255, 26);
    color: white;
}