.nav {
    align-items: center;
    justify-content: space-between;
    padding: 0 3%; /* Adjust padding on left and right */
    height: 9vh;
    position: relative;
  }
  
  .material-symbols-outlined {
    font-size: 1.5em;
    color: black; /* White color for icons */
  
    justify-content: space-between;
  }
  
  .navbar {
    z-index: 1000;
    width: 100vw;
    background-color:black /* Sky Blue */
  
  }
  
  .line {
    display: flex;
    margin: auto 0.5em;
  }
  
  .menu-icon {
    margin-right: 0.5em;
  }
  
  .sofrecomimg {
  
    filter: brightness(1.5) sepia(1) hue-rotate(160deg);
  
  }
  
  .navbar{
    z-index: 1000;
    width: 100vw;
}
.navbar-nav{
    width: 15vw;
    justify-content: space-around;
}

.accueil{
    height: 100vh;
    width: 100vw;
}

.title{
 font-weight: 500;
}

.open-close{
    position: absolute;
    z-index: 10000;
    height: 3em;
    width: 3em;
    text-align: center;
}


.content{
    display: table;
    margin: 2em auto;
    width: 70vw;
    padding: 2vh 5vw;
    background-color: #fff;
    height: 80vh;
}
.sub-nav{
    display:flex;
    margin: 1em auto;
    justify-content: space-around;    
    width: 50vw;

}

.spinner-border{
    width: 20vw;
}

.add-btn{
    display: grid;
    width: 100%;
}

.nav-link {
  border-radius: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: black; /* Default background color */
}

.nav-link.active {
  background-color: #ff5500; /* Background color when checked */
  color: #ffffff;
}

.accueil{
  background-color: white;
}